---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        form:
            append_to_response:
                - credits,external_ids
        headers:
            Authorization:
                - Bearer fake-api-read-access-token
        url: https://api.themoviedb.org/3/tv/1399/season/1/episode/1?append_to_response=credits%2Cexternal_ids
        method: GET
      response:
        body: '{"air_date":"2011-04-17","crew":[{"job":"Writer","department":"Writing","credit_id":"5256c8a019c2956ff6046e2b","adult":false,"gender":2,"id":9813,"known_for_department":"Writing","name":"David Benioff","original_name":"David Benioff","popularity":0.9627,"profile_path":"/xvNN5huL0X8yJ7h3IZfGG4O2zBD.jpg"},{"department":"Directing","job":"Director","credit_id":"5256c8a219c2956ff6046e77","adult":false,"gender":2,"id":44797,"known_for_department":"Directing","name":"Tim Van Patten","original_name":"Tim Van Patten","popularity":0.7112,"profile_path":"/vwcARZBg4PEzOwnPsXdjRWeUVrZ.jpg"},{"job":"Writer","department":"Writing","credit_id":"5256c8a219c2956ff6046e4b","adult":false,"gender":2,"id":228068,"known_for_department":"Writing","name":"D. B. Weiss","original_name":"D. B. Weiss","popularity":0.4247,"profile_path":"/6Wt006TIQoDSSnl0YaKihfn3w7K.jpg"},{"job":"Editor","department":"Editing","credit_id":"54eef2ab925141795f005d4f","adult":false,"gender":2,"id":18077,"known_for_department":"Editing","name":"Oral Norrie Ottey","original_name":"Oral Norrie Ottey","popularity":0.2233,"profile_path":null},{"job":"Director of Photography","department":"Camera","credit_id":"54eef2429251417974005cb6","adult":false,"gender":2,"id":1318704,"known_for_department":"Directing","name":"Alik Sakharov","original_name":"Алик Сахаров","popularity":0.2532,"profile_path":"/nsawlXcvphwnzz66ULKwMl9sKUx.jpg"}],"episode_number":1,"episode_type":"standard","guest_stars":[{"character":"Benjen Stark","credit_id":"5256c8b919c2956ff604836a","order":61,"adult":false,"gender":2,"id":119783,"known_for_department":"Acting","name":"Joseph Mawle","original_name":"Joseph Mawle","popularity":2.7396,"profile_path":"/1Ocb9v3h54beGVoJMm4w50UQhLf.jpg"},{"character":"Rickon Stark","credit_id":"566a83bcc3a3683f56003604","order":80,"adult":false,"gender":2,"id":1050248,"known_for_department":"Acting","name":"Art Parkinson","original_name":"Art Parkinson","popularity":1.2851,"profile_path":"/ejAKOJME1DsvHECLWdQ7dEtXyyc.jpg"},{"character":"Hodor","credit_i[...]
