---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        headers:
            Authorization:
                - Bearer fake-api-read-access-token
        url: https://api.themoviedb.org/3/configuration
        method: GET
      response:
        body: '{"change_keys":["adult","air_date","also_known_as","alternative_titles","biography","birthday","budget","cast","certifications","character_names","created_by","crew","deathday","episode","episode_number","episode_run_time","freebase_id","freebase_mid","general","genres","guest_stars","homepage","images","imdb_id","languages","name","network","origin_country","original_name","original_title","overview","parts","place_of_birth","plot_keywords","production_code","production_companies","production_countries","releases","revenue","runtime","season","season_number","season_regular","spoken_languages","status","tagline","title","translations","tvdb_id","tvrage_id","type","video","videos"],"images":{"base_url":"http://image.tmdb.org/t/p/","secure_base_url":"https://image.tmdb.org/t/p/","backdrop_sizes":["w300","w780","w1280","original"],"logo_sizes":["w45","w92","w154","w185","w300","w500","original"],"poster_sizes":["w92","w154","w185","w342","w500","w780","original"],"profile_sizes":["w45","w185","h632","original"],"still_sizes":["w92","w185","w300","original"]}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            Etag:
                - W/"633473beea78b7c1134b70098a3f7420"
            X-Az:
                - us-east-1a
            X-Memc:
                - HIT
            X-Memc-Age:
                - "592"
            X-Memc-Expires:
                - "22812"
            X-Memc-Key:
                - bde7526176e70439449d7a17bb3165a45d99fdd46848d554fa6da4c88944ce1e
            X-Task-Id:
                - 99251ca9012e486a90a08468a9e8c9f5
        status: 200 OK
        code: 200
        duration: 60.095959ms
