---
version: 2
interactions:
    - id: 0
      request:
        host: api.themoviedb.org
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED_TMDB_BEARER_TOKEN
        url: https://api.themoviedb.org/3/search/movie?api_key=REDACTED_TMDB_API_KEY&page=1&query=Inception
        method: GET
      response:
        body: '{"page":1,"results":[{"adult":false,"backdrop_path":"/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg","genre_ids":[28,878,12],"id":27205,"original_language":"en","original_title":"Inception","overview":"Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: \"inception\", the implantation of another person''s idea into a target''s subconscious.","popularity":25.8486,"poster_path":"/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg","release_date":"2010-07-15","title":"Inception","video":false,"vote_average":8.369,"vote_count":37518},{"adult":false,"backdrop_path":"/JeGkRdNsOuMrgwBdtB0hp763MU.jpg","genre_ids":[18,53],"id":613092,"original_language":"es","original_title":"El crack cero","overview":"Madrid, Spain, 1975; shortly after the end of the Franco dictatorship. Six months after the mysterious death of his lover, a prestigious tailor, a married woman visits the office of the young Germán Areta, a former police officer turned private detective, to request his professional services.","popularity":0.7565,"poster_pat[...]
