---
version: 2
interactions:
    - id: 0
      request:
        host: api.themoviedb.org
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED_TMDB_BEARER_TOKEN
        url: https://api.themoviedb.org/3/configuration?api_key=REDACTED_TMDB_API_KEY
        method: GET
      response:
        body: '{"change_keys":["adult","air_date","also_known_as","alternative_titles","biography","birthday","budget","cast","certifications","character_names","created_by","crew","deathday","episode","episode_number","episode_run_time","freebase_id","freebase_mid","general","genres","guest_stars","homepage","images","imdb_id","languages","name","network","origin_country","original_name","original_title","overview","parts","place_of_birth","plot_keywords","production_code","production_companies","production_countries","releases","revenue","runtime","season","season_number","season_regular","spoken_languages","status","tagline","title","translations","tvdb_id","tvrage_id","type","video","videos"],"images":{"base_url":"http://image.tmdb.org/t/p/","secure_base_url":"https://image.tmdb.org/t/p/","backdrop_sizes":["w300","w780","w1280","original"],"logo_sizes":["w45","w92","w154","w185","w300","w500","original"],"poster_sizes":["w92","w154","w185","w342","w500","w780","original"],"profile_sizes":["w45","w185","h632","original"],"still_sizes":["w92","w185","w300","original"]}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            Etag:
                - W/"633473beea78b7c1134b70098a3f7420"
            X-Az:
                - us-east-1c
            X-Memc:
                - HIT
            X-Memc-Age:
                - "1715"
            X-Memc-Expires:
                - "21590"
            X-Memc-Key:
                - 7a5a8ba4b0a7dc8def909bb4971ed158
            X-Task-Id:
                - 03e2018322f74fe8b973ddf1bd673363
        status: 200 OK
        code: 200
        duration: 46.9812ms
    - id: 1
      request:
        host: api.themoviedb.org
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED_TMDB_BEARER_TOKEN
        url: https://api.themoviedb.org/3/search/tv?api_key=REDACTED_TMDB_API_KEY&page=1&query=Trek
        method: GET
      response:
        body: '{"page":1,"results":[{"adult":false,"backdrop_path":"/5uxpTGMvH0taHAkMYxOQHYJcsws.jpg","genre_ids":[10765,10759,18,9648],"id":655,"origin_country":["US"],"original_language":"en","original_name":"Star Trek: The Next Generation","overview":"Follow the intergalactic adventures of Capt. Jean-Luc Picard and his loyal crew aboard the all-new USS Enterprise NCC-1701D, as they explore new worlds.","popularity":168.7182,"poster_path":"/vkLzXddgUKH5VcpnYiRzpJFrZhz.jpg","first_air_date":"1987-09-28","name":"Star Trek: The Next Generation","vote_average":8.369,"vote_count":1578},{"adult":false,"backdrop_path":"/7YFranrnnIcCrgsLYQsoq8aE3Ir.jpg","genre_ids":[10765,18,10759],"id":1855,"origin_country":["US"],"original_language":"en","original_name":"Star Trek: Voyager","overview":"Pulled to the far side of the galaxy, where the Federation is 75 years away at maximum warp speed, a Starfleet ship must cooperate with Maquis rebels to find a way home.","popularity":136.8042,"poster_path":"/gNS5tRSG3UlXodCxznKKOKweqxh.jpg","first_air_date":"1995-01-16","name":"Star Trek: [...]
[...]
