---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        form:
            append_to_response:
                - credits,release_dates,external_ids,keywords,images
        headers:
            Authorization:
                - Bearer fake-api-read-access-token
        url: https://api.themoviedb.org/3/movie/550?append_to_response=credits%2Crelease_dates%2Cexternal_ids%2Ckeywords%2Cimages
        method: GET
      response:
        body: '{"adult":false,"backdrop_path":"/hZkgoQYus5vegHoetLkCJzb17zJ.jpg","belongs_to_collection":null,"budget":63000000,"genres":[{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"}],"homepage":"http://www.foxmovies.com/movies/fight-club","id":550,"imdb_id":"tt0137523","origin_country":["US"],"original_language":"en","original_title":"Fight Club","overview":"A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \"fight clubs\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.","popularity":24.1745,"poster_path":"/jSziioSwPVrOy9Yow3XhWIBDjq1.jpg","production_companies":[{"id":711,"logo_path":"/tEiIH5QesdheJmDAqQwvtN60727.png","name":"Fox 2000 Pictures","origin_country":"US"},{"id":508,"logo_path":"/4sGWXoboEkWPphI6es6rTmqkCBh.png","name":"Regency Enterprises","origin_country":"US"},{"id":4700,"logo_path":"/A32wmjrs9Psf4zw0uaixF0GXfxq.png","name":"Linson Entertainment","origin_country":"US"},{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th Century Fox","origin_country":"US"},{"id":20555,"logo_path":"/hD8yEGUBlHOcfHYbujp71vD8gZp.png","name":"Taurus Film","origin_country":"DE"}],"production_countries":[{"iso_3166_1":"DE","name":"Germany"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1999-10-15","revenue":100853753,"runtime":139,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Mischief. Mayhem. Soap.","title":"Fight Club","video":false,"vote_average":8.438,"vote_count":30717,"credits":{"cast":[{"adult":false,"gender":2,"id":819,"known_for_department":"Acting","name":"Edward Norton","original_name":"Edward Norton","popularity":3.9679,"profile_path":"/8nytsqL59SFJTVYVrN72k6qkGgJ.jpg","cast_id":4,"character":"Narrator","credit_id":"52fe4250c3a36847f80149f3","order":0},{"adult":false,"gender":2,"id":287,"known_for_department":"Acting","name":"Brad Pitt","original_name":"Brad Pitt","popularity":7.616,"profile_path":"/9OfnD7lxgIj3BNQpJFnwxnwl6w5.jpg","cast_id":5,"character":"Tyler Durden","credit_id":"52fe4250c3a36847f80149f7","order":1},{"adult":false,"gender":1,"id":1283,"known_for_department":"Acting","name":"Helena Bonham Carter","original_name":"Helena Bonham Carter","popularity":2.5336,"profile_path":"/hJMbNSPJ2PCahsP3rNEU39C8GWU.jpg","cast_id":285,"cha[...]
