---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        form:
            append_to_response:
                - aggregate_credits,content_ratings,credits,external_ids,keywords
        headers:
            Authorization:
                - Bearer fake-api-read-access-token
        url: https://api.themoviedb.org/3/tv/1399?append_to_response=aggregate_credits%2Ccontent_ratings%2Ccredits%2Cexternal_ids%2Ckeywords
        method: GET
      response:
        body: '{"adult":false,"backdrop_path":"/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg","created_by":[{"id":9813,"credit_id":"5256c8c219c2956ff604858a","name":"David Benioff","original_name":"David Benioff","gender":2,"profile_path":"/xvNN5huL0X8yJ7h3IZfGG4O2zBD.jpg"},{"id":228068,"credit_id":"552e611e9251413fea000901","name":"D. B. Weiss","original_name":"D. B. Weiss","gender":2,"profile_path":"/6Wt006TIQoDSSnl0YaKihfn3w7K.jpg"}],"episode_run_time":[],"first_air_date":"2011-04-17","genres":[{"id":10765,"name":"Sci-Fi & Fantasy"},{"id":18,"name":"Drama"},{"id":10759,"name":"Action & Adventure"}],"homepage":"https://www.hbo.com/game-of-thrones","id":1399,"in_production":false,"languages":["en"],"last_air_date":"2019-05-19","last_episode_to_air":{"id":1551830,"name":"The Iron Throne","overview":"In the aftermath of the devastating attack on King''s Landing, Daenerys must face the survivors.","vote_average":4.586,"vote_count":366,"air_date":"2019-05-19","episode_number":6,"episode_type":"finale","production_code":"806","runtime":80,"season_number":8,"show_id":1399,"still_path":"/zBi2O5EJfgTS6Ae0HdAYLm9o2nf.jpg"},"name":"Game of Thrones","next_episode_to_air":null,"networks":[{"id":49,"logo_path":"/tuomPhY2UtuPTqqFnKMVHvSb724.png","name":"HBO","origin_country":"US"}],"number_of_episodes":73,"number_of_seasons":8,"origin_country":["US"],"original_language":"en","original_name":"Game of Thrones","overview":"Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. Amidst the war, a neglected military order of misfits, the Night''s Watch, is all that stands between the realms of men and icy horrors beyond.","popularity":123.003,"poster_path":"/1XS1oqL89opfnbLl8WnZY1O1uJx.jpg","production_companies":[{"id":76043,"logo_path":"/9RO2vbQ67otPrBLXCaC8UMp3Qat.png","name":"Revolution Sun Studios","origin_country":"US"},{"id":12525,"logo_path":null,"name":"Television 360","origin_country":""},{"id":5820,"logo_path":null,"name":"Generator Entertainment","origin_country":"GB"},{"id":12526,"logo_path":null,"name":"Bighead Littlehead","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"seasons":[{"air_date":"2010-12-05","episode_count":286,"id":3627,"name":"Specials","overview":"","poster_path":"/aos6lC1JGYt6ZRL85lgstNsfSeY.jpg","season_number":0,"vote_average":0.0},{"air_date":"2011-04-17","episode_count":10,"id":3624,"name":"Season 1","overview":"Trouble is brewing in the Seven Kingdoms of Westeros. For the driven inhabitants of this visionary world, control of Westeros'' Iron Throne holds the lure of great power. But in a land where the seasons can last a lifetime, winter is coming...and beyond the Great Wall that protects [...]
