---
version: 2
interactions:
    - id: 0
      request:
        host: api.themoviedb.org
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED_TMDB_BEARER_TOKEN
        url: https://api.themoviedb.org/3/configuration?api_key=REDACTED_TMDB_API_KEY
        method: GET
      response:
        body: '{"change_keys":["adult","air_date","also_known_as","alternative_titles","biography","birthday","budget","cast","certifications","character_names","created_by","crew","deathday","episode","episode_number","episode_run_time","freebase_id","freebase_mid","general","genres","guest_stars","homepage","images","imdb_id","languages","name","network","origin_country","original_name","original_title","overview","parts","place_of_birth","plot_keywords","production_code","production_companies","production_countries","releases","revenue","runtime","season","season_number","season_regular","spoken_languages","status","tagline","title","translations","tvdb_id","tvrage_id","type","video","videos"],"images":{"base_url":"http://image.tmdb.org/t/p/","secure_base_url":"https://image.tmdb.org/t/p/","backdrop_sizes":["w300","w780","w1280","original"],"logo_sizes":["w45","w92","w154","w185","w300","w500","original"],"poster_sizes":["w92","w154","w185","w342","w500","w780","original"],"profile_sizes":["w45","w185","h632","original"],"still_sizes":["w92","w185","w300","original"]}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            Etag:
                - W/"633473beea78b7c1134b70098a3f7420"
            X-Az:
                - us-east-1c
            X-Memc:
                - HIT
            X-Memc-Age:
                - "1715"
            X-Memc-Expires:
                - "21590"
            X-Memc-Key:
                - 7a5a8ba4b0a7dc8def909bb4971ed158
            X-Task-Id:
                - 03e2018322f74fe8b973ddf1bd673363
        status: 200 OK
        code: 200
        duration: 49.51302ms
    - id: 1
      request:
        host: api.themoviedb.org
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer REDACTED_TMDB_BEARER_TOKEN
        url: https://api.themoviedb.org/3/search/movie?api_key=REDACTED_TMDB_API_KEY&page=1&query=Inception
        method: GET
      response:
        body: '{"page":1,"results":[{"adult":false,"backdrop_path":"/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg","genre_ids":[28,878,12],"id":27205,"original_language":"en","original_title":"Inception","overview":"Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: \"inception\", the implantation of another person''s idea into a target''s subconscious.","popularity":26.1397,"poster_path":"/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg","release_date":"2010-07-15","title":"Inception","video":false,"vote_average":8.4,"vote_count":37522},{"adult":false,"backdrop_path":"/JeGkRdNsOuMrgwBdtB0hp763MU.jpg","genre_ids":[18,53],"id":613092,"original_language":"es","original_title":"El crack cero","overview":"Madrid, Spain, 1975; shortly after the end of the Franco dictatorship. Six months after the mysterious death of his lover, a prestigious tailor, a married woman visits the office of the young Germán Areta, a former police officer turned private detective, to request his professional services.","popularity":0.7261,"poster_pat[...]
