---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        headers:
            Authorization:
                - Bearer fake-api-read-access-token
        url: https://api.themoviedb.org/3/collection/8091
        method: GET
      response:
        body: '{"id":8091,"name":"Alien Collection","overview":"A science fiction horror film franchise, focusing on Lieutenant Ellen Ripley (Sigourney Weaver) and her battle with an extraterrestrial life-form, commonly referred to as \"the Alien\". Produced by 20th Century Fox, the series started with the 1979 film Alien, then Aliens in 1986, Alien³ in 1992, and Alien: Resurrection in 1997.","poster_path":"/gWFHIY77cRVoBRGERwMHqpD27gc.jpg","backdrop_path":"/6X42JnSMdo3dPAswOHUuvebdTq7.jpg","parts":[{"adult":false,"backdrop_path":"/AmR3JG1VQVxU8TfAvljUhfSFUOx.jpg","id":348,"title":"Alien","original_title":"Alien","overview":"During its return to the earth, commercial spaceship Nostromo intercepts a distress signal from a distant planet. When a three-member team of the crew discovers a chamber containing thousands of eggs on the planet, a creature inside one of the eggs attacks an explorer. The entire crew is unaware of the impending nightmare set to descend upon them when the alien parasite planted inside its unfortunate host is birthed.","poster_path":"/vfrQk5IPloGg1v9Rzbh2Eg3VGyM.jpg","media_type":"movie","original_language":"en","genre_ids":[27,878],"popularity":15.8102,"release_date":"1979-05-25","video":false,"vote_average":8.164,"vote_count":15577},{"adult":false,"backdrop_path":"/jMBpJFRtrtIXymer93XLavPwI3P.jpg","id":679,"title":"Aliens","original_title":"Aliens","overview":"Ripley, the sole survivor of the Nostromo''s deadly encounter with the monstrous Alien, returns to Earth after drifting through space in hypersleep for 57 years. Although her story is initially met with skepticism, she agrees to accompany a team of Colonial Marines back to LV-426.","poster_path":"/r1x5JGpyqZU8PYhbs4UcrO1Xb6x.jpg","media_type":"movie","original_[...]
