---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        form:
            append_to_response:
                - aggregate_credits,credits,external_ids
        headers:
            Authorization:
                - Bearer fake-api-read-access-token
        url: https://api.themoviedb.org/3/tv/1399/season/1?append_to_response=aggregate_credits%2Ccredits%2Cexternal_ids
        method: GET
      response:
        body: '{"_id":"5256c89f19c2956ff6046d47","air_date":"2011-04-17","episodes":[{"air_date":"2011-04-17","episode_number":1,"episode_type":"standard","id":63056,"name":"Winter Is Coming","overview":"Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon''s place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.","production_code":"101","runtime":62,"season_number":1,"show_id":1399,"still_path":"/9hGF3WUkBf7cSjMg0cdMDHJkByd.jpg","vote_average":8.102,"vote_count":386,"crew":[{"job":"Writer","department":"Writing","credit_id":"5256c8a019c2956ff6046e2b","adult":false,"gender":2,"id":9813,"known_for_department":"Writing","name":"David Benioff","original_name":"David Benioff","popularity":0.7225,"profile_path":"/xvNN5huL0X8yJ7h3IZfGG4O2zBD.jpg"},{"department":"Directing","job":"Director","credit_id":"5256c8a219c2956ff6046e77","adult":false,"gender":2,"id":44797,"known_for_department":"Directing","name":"Tim Van Patten","original_name":"Tim Van Patten","popularity":0.6731,"profile_path":"/vwcARZBg4PEzOwnPsXdjRWeUVrZ.jpg"},{"job":"Writer","department":"Writing","credit_id":"5256c8a219c2956ff6046e4b","adult":false,"gender":2,"id":228068,"known_for_department":"Writing","name":"D. B. Weiss","original_name":"D. B. Weiss","popularity":0.3985,"profile_path":"/6Wt006TIQoDSSnl0YaKihfn3w7K.jpg"},{"job":"Editor","department":"Editing","credit_id":"54eef2ab925141795f005d4f","adult":false,"gender":2,"id":18077,"known_for_department":"Editing","name":"Oral Norrie Ottey","original_name":"Oral Norrie Ottey","popularity":0.1261,"profile_path":null},{"job":"Director of Photography","department":"Camera","credit_id":"54eef2429251417974005cb6","adult":false,"gender":2,"id":1318704,"known_for_department":"Directing","name":"Alik Sakharov","original_name":"Алик Сахаров","popularity":0.2892,"profile_path":"/nsawlXcvphwnzz66ULKwMl9sKUx.jpg"}],"guest_stars":[{"character":"Benjen Stark","credit_id":"5256c8b919c2956ff604836a","order":61,"adult":false,"gender":2,"id":119783,"known_for_department":"Acting","name":"Joseph Mawle","original_name":"Joseph Mawle","popularity":1.1386,"profile_path":"/1Ocb9v3h54beGVoJMm4w50UQhLf.jpg"},{"character":"Rickon Stark","credit_id":"566a83bcc3a3683f56003604","order":80,"adult":false,"gender":2,"id":1050248,"known_for_department":"Acting","name":"Art Parkinson","original_name":"Art Parkinson","popularity":1.214,"profile_path":"/ejAKOJME1DsvHECLWdQ7dEtXyyc.jpg"},{"character":"Hodor","credit_id[...]
