---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        headers:
            Authorization:
                - Bearer fake-api-read-access-token
        url: https://api.themoviedb.org/3/movie/550
        method: GET
      response:
        body: '{"adult":false,"backdrop_path":"/hZkgoQYus5vegHoetLkCJzb17zJ.jpg","belongs_to_collection":null,"budget":63000000,"genres":[{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"}],"homepage":"http://www.foxmovies.com/movies/fight-club","id":550,"imdb_id":"tt0137523","origin_country":["US"],"original_language":"en","original_title":"Fight Club","overview":"A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \"fight clubs\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.","popularity":23.1752,"poster_path":"/jSziioSwPVrOy9Yow3XhWIBDjq1.jpg","production_companies":[{"id":711,"logo_path":"/tEiIH5QesdheJmDAqQwvtN60727.png","name":"Fox 2000 Pictures","origin_country":"US"},{"id":508,"logo_path":"/7cxRWzi4LsVm4Utfpr1hfARNurT.png","name":"Regency Enterprises","origin_country":"US"},{"id":4700,"logo_path":"/A32wmjrs9Psf4zw0uaixF0GXfxq.png","name":"Linson Entertainment","origin_country":"US"},{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th Century Fox","origin_country":"US"},{"id":20555,"logo_path":"/hD8yEGUBlHOcfHYbujp71vD8gZp.png","name":"Taurus Film","origin_country":"DE"}],"production_countries":[{"iso_3166_1":"DE","name":"Germany"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1999-10-15","revenue":100853753,"runtime":139,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Mischief. Mayhem. Soap.","title":"Fight Club","video":false,"vote_average":8.437,"vote_count":30523}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            Etag:
                - W/"90006f30d3f413b8ef324af8a630ec86"
            X-Az:
                - us-east-1b
            X-Memc:
                - HIT
            X-Memc-Age:
                - "9666"
            X-Memc-Expires:
                - "13176"
            X-Memc-Key:
                - 6c7a52dee8b7e2fa21ee30fa3f3638b7b624e2e442e0e46c5bbb9fc86393d167
            X-Task-Id:
                - abb86fede680400f9d83c278be44472f
        status: 200 OK
        code: 200
        duration: 81.03185ms
